$form-background-color: #ffffff; // replace with your preferred color
$label-color: #333333; // replace with your preferred color
$input-border-color: #cccccc; // replace with your preferred color
$button-margin: 10px; // replace with your preferred value

form {
  div {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $label-color;
      font-weight: bolder;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 20px;
      border: 1px solid $input-border-color;
      border-radius: 5px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 1 0 50%; // Each div takes up half of the form's width

      &:nth-child(odd) {
        padding-right: 10px; // Add some space between the columns
      }

      &:nth-child(even) {
        padding-left: 10px; // Add some space between the columns
      }
    }
  }
}

#date_revision[disabled] {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}

input[type="date"][disabled] {
  color: #888;
  background-color: #f0f0f0;
  opacity: 0.5;
  pointer-events: none;
}

input[type="text"][disabled] {
  color: #888;
  background-color: #f0f0f0;
  opacity: 0.5;
  pointer-events: none;
}

.register_form__container {
  margin-left: 0;
  margin-right: 0;
}
