<section class="bp-my-5 bp-w-100 bp-justify-center bp-row">
  <div class="bp-col-xs-11 bp-col-lg-10">
    <section class="bp-justify-between bp-d-flex bp-w-100 bp-mb-1 bp-flex-wrap">
      <input
        type="text"
        placeholder="Search"
        class="custom-input-text"
        [formControl]="searchControl"
      />
      <app-button
        [textBtn]="'Agregar'"
        [isPrimary]="true"
        [routerLink]="'/create'"
      ></app-button>
    </section>

    <app-products-list
      [pageSize]="pageSize"
      [products]="paginatedProducts"
      (onMakeDropdownAction)="onDropDownActions($event)"
      [headers]="headers"
      (doPageSizeChangeAction)="onPageSizeChange($event)"
      [currentPage]="currentPage"
      [totalItems]="allProducts.length"
      (onPageChange)="onPageChange($event)"
    ></app-products-list>

  </div>
</section>



<app-modal
  #modalDelete
  [showModal]="showModal"
  [modalTitle]="
    '¿Estás seguro de eliminar el producto ' + selectedProduct?.name + '?'
  "
  [modalText]="'Esta acción no se puede deshacer'"
  [btnPrimaryName]="'Eliminar'"
  [btnSecondaryName]="'Cancelar'"
  (primaryBtnAction)="onDeleteProduct()"
  (secondaryBtnAction)="onCloseModal()"
>
  <p></p>
</app-modal>

<ng-container *ngIf="loadingView$ | async">
  <app-loader></app-loader>
</ng-container>
