@import "./assets/base";

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(32, 31, 31, 0.792);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(32, 31, 31, 0.792);
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
